<!--
This template loads for the 'tab.artist-detail' state (app.js)
'artist' is a $scope variable created in the ArtistsCtrl controller (controllers.js)
The ArtistsCtrl pulls data from the Artists service (service.js)
The Artists service returns an array of artist data
-->
<!-- I am editing the file just to see where it shows up in git-->
<ion-view>
  <ion-content class="content-artist-detail" ng-repeat="artist in artists | filter: {id:artist}">
    <img ng-src="{{artist.image}}" style="padding-top: 10px"><br><br>

      <span style="font-size: 22px">{{artist.name}}</span><br>
      <span style="font-size: 14px; color: #b0b0b0">{{artist.day}} - {{artist.time}} - </span><span style="font-size: 14px; color: #BA1013">{{artist.stage}}  </span><br><br>
      <span style="font-family: sans-serif; font-size: 16px">{{artist.bio}}<br><br>
<div class="button-bar">
    <!--	<a href="#/app/artists/{{artist.id}-1}" class="button icon-left ion-arrow-left-a button-clear button-dark"></a>  -->
  		<a href="{{artist.url}}" onclick="window.open('artist.url','_system','location=yes');" class="button button-assertive">Site</a> 
  		<a href="{{artist.mp3}}" target="_system" class="button button-assertive icon ion-play"></a> 
  	<!--	<a href="#/app/artists/{{artist.id}+1}" class="button icon-right ion-arrow-right-a button-clear button-dark"></a>  -->
	</div>

 <!--    <p><a >Listen to {{artist.mp3name}}</a></p>  -->
   
  </ion-content>
</ion-view> 

