<!--
This template loads for the 'tab.artist-detail' state (app.js)
'artist' is a $scope variable created in the ArtistsCtrl controller (controllers.js)
The ArtistsCtrl pulls data from the Artists service (service.js)
The Artists service returns an array of artist data
-->
<!-- I am editing the file just to see where it shows up in git-->

<ion-view>
  <ion-content class="content-artist-detail" ng-repeat="artist in artists | filter: {id:artist}">
    <img ng-src="{{artist.image}}" style="padding-top: 10px"><br><br>
    <span style="font-size: 22px">{{artist.name}}</span><br>
      <span style="font-size: 14px; color: #b0b0b0">{{artist.day}} - {{artist.time}} - </span><span style="font-size: 14px; color: #BA1013">{{artist.stage}}  </span><br><br>
      <span style="font-family: sans-serif; font-size: 16px">{{artist.bio}}<br><br><br>

       <!-- This is a test of ways to pass {{artist.url}} { { artist.url } } into onclick 
        <a href="#" onclick="window.open('http://www.theoutlawroadshow.com', '_system', 'location=yes')">This link is hard coded and works!</a> <br><br>
        <a href="#" onclick="window.open(artist.url, '_system', 'location=yes')">variable name no brackets</a><br><br>
        <a href="#" onclick="window.open(\""{{artist.url}}"\", '_system', 'location=yes')">escaped out "</a><br><br><br>
        <a href="#" onclick="window.open(URL, '_system', 'location=yes')">URL TRY THIS ONE THIS TIME </a><br><br>
        <a href="#" onclick="window.open(\""URL"\", '_system', 'location=yes')">URL  with escaped " var test currently hard coded to cnn.com</a><br><br>
        <a href="#" onclick="window.open('{{artist.url}}', '_system', 'location=yes')">single ' around 2 curly braces</a><br><br>
        <a href="#" onclick="window.open({{artist.url}}, '_blank', 'location=yes')">2 curly braces</a><br><br>
        <a ng-href="{{artist.url}}" target="_system" ng-click="$window.open(artist.url, '_system')">this has the variable in the href not the onclick and it pulls the right url but does not open in new window</a> <br><BR>
        <a ng-href="#" ng-click="$window.open(artist.url, '_system')">variable only</a> <br><br>
        <a href="#" onclick="goToPage()">gotopage test</a><br><br>
        <a ng-href="#" ng-click="window.open({{artist.url}}, '_system')">ng-href instead of href</a> <br><br>  -->
         <a ng-href="#" ng-click="$window.open(artist.url, '_system')">This is my last hope to get links working</a><br><br>
         
      
<!--<div class="button-bar">
   <a href="#/app/artists/{{artist.id}-1}" class="button icon-left ion-arrow-left-a button-clear button-dark"></a>  -->
  	<!--	<a ng-click="$window.open({{artist.url}}, '_system')" class="button button-assertive">Site</a> 
  		<a ng-href="#" onclick="window.open({{artist.url}}, '__system'" class="button button-assertive icon ion-play"></a> 
  		<a href="#/app/artists/{{artist.id}+1}" class="button icon-right ion-arrow-right-a button-clear button-dark"></a>  -->

 <!-- </div> -->

 <!--    <p><a >Listen to {{artist.mp3name}}</a></p>  -->
   
  </ion-content>
</ion-view> 

<!--var queryStringValue = ["artistId", artist.id].join("="); // Results in the string "artistId=1234"
var URL = ["http://someurl.com?", queryStringValue].join(""); // Results in "http://someurl.com?artistId=1234"
cordova.InAppBrowser.open(URL, "_blank", "location=yes");-->



