<!-- this is a test for google maps -->
<ion-view>
<ion-content>
    <div>
 <a href="https://www.google.com/maps/dir//715+Red+River+St,+Austin,+TX+78701/"><img src="http://maps.googleapis.com/maps/api/staticmap?center=austin,+tx&zoom=15&scale=1&size=4500x640&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff2600%7Clabel:1%7C705+Red+River+St,+Austin,+TX+78701&markers=size:mid%7Ccolor:red%7Clabel:2%7C715+Red+River+St,+Austin,+TX+78701" alt="Google Map of austin, tx"></a>
    </div>
</ion-content>
</ion-view>


<!-- this is a test for leaflet -->
 <!--  <ion-view>
        <ion-content  has-header="true" has-tabs="true" overflow-scroll="true">
          <h1>Map</h1>
          <leaflet style="height: 400px; width: 100%;"></leaflet>
        </ion-content>
      </ion-view>  -->