<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>
<ion-nav-title align-title="center">
      <img src="img/outlawtoplogo.png" height="42" width="78">
    </ion-nav-title>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="identifyUser()" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
     <span style="font-family: Antonio-Regular; color: white; font-size: 30px"><br>NASHVILLE</span><span style="font-family: Antonio-Regular; color: white; font-size: 20px">- July 17-18, 2015</span>
      <ion-list class="my-menu">
        <ion-item class="item-royal-border" nav-clear menu-close href="#/app/schedule">
          Schedule
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/schedule">
             - by Time
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/stage">
             - by Stage
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/artists">
          Artists
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/nashville">
          testing page for push
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/news">
          Links
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/austins">
          Austin 2015
        </ion-item>
      </ion-list><br>
      <img src="img/outlawtoplogo.png" height="42" width="78">
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
