<!--
This template loads for the 'tab.artist-detail' state (app.js)
'artist' is a $scope variable created in the ArtistsCtrl controller (controllers.js)
The ArtistsCtrl pulls data from the Artists service (service.js)
The Artists service returns an array of artist data
-->
<!-- I am editing the file just to see where it shows up in git-->
<ion-view>
  <ion-content class="content-artist-detail">
  <span style="style="font-size: 22px><br><br>
  <a href="#" onclick="window.open('https://twitter.com/thersl', '_system', 'location=yes')">Tweets from @theRSL</a><br><br>
  <a href="#" onclick="window.open('http://www.theoutlawroadshow.com', '_system', 'location=yes')">The Outlaw Roadshow</a><br><br>
  <a href="#" onclick="window.open('http://wemfradio.com/category/shows/outlawroadshow/', '_system', 'location=yes')">Podcasts from The Outlaw Roadshow Radio</a><br><br>
</span>
    
  </ion-content>
</ion-view> 



