<!--
This template loads for the 'tab.artist-detail' state (app.js)
'artist' is a $scope variable created in the ArtistsCtrl controller (controllers.js)
The ArtistsCtrl pulls data from the Artists service (service.js)
The Artists service returns an array of artist data
-->
<!-- I am editing the file just to see where it shows up in git-->
<ion-view>
  <ion-content class="content-artist-detail">
  <span style="style="font-size: 20px><br>
  <a href="#" onclick="window.open('https://www.google.com/maps/place/Red+Eyed+Fly/@30.267908,-97.7364,17z/data=!4m2!3m1!1s0x0:0xdd968de2f93d7de8', '_system', 'location=yes')">-  Google Map of Red Eyed Fly and Elysium</a><br><br>
  <a href="#" onclick="window.open('https://twitter.com/thersl', '_system', 'location=yes')">-  Tweets from @theRSL</a><br><br>
  <a href="#" onclick="window.open('https://open.spotify.com/user/outlaw_roadshow_radio/playlist/2NwMepIzdBYm5lBLRgUNjx', '_system', 'location=yes')">-  Spotify playlist of artists from The Outlaw Roadshow 2015 - Austin</a><br><br>
  <a href="#" onclick="window.open('http://www.theoutlawroadshow.com', '_system', 'location=yes')">-  The Outlaw Roadshow</a><br><br>
  <a href="#" onclick="window.open('http://wemfradio.com/category/shows/outlawroadshow/', '_system', 'location=yes')">-  Podcasts from The Outlaw Roadshow Radio</a><br><br>
</span>
    
  </ion-content>
</ion-view> 



