<!--
This template loads for the 'tab.artist-detail' state (app.js)
'artist' is a $scope variable created in the ArtistsCtrl controller (controllers.js)
The ArtistsCtrl pulls data from the Artists service (service.js)
The Artists service returns an array of artist data
-->
<!-- I am editing the file just to see where it shows up in git-->
<ion-view>
  <ion-content class="content-artist-detail">
   <span style="font-size: 22px"><br>News</span><br><br>
  	<ion-list>
  	 <ion-item class="item item-text-wrap" ng-repeat="new in news | orderBy: 'id'">
  	 	<span style="font-family: sans-serif; font-size: 16px; color: #BA1013">{{new.topic}}</span>
  	 </ion-item>
 	</ion-list>
 </span>	
 <span style="font-size: 22px"><br>Links</span><br>

<div class="list list-inset">
 		<a href="#" class="item item-icon-left" onclick="window.open('https://twitter.com/thersl', '_system', 'location=yes')"><i class="icon ion-social-twitter"></i>Tweets from @theRSL</a>
		<a href="#" class="item item-icon-left" onclick="window.open('https://open.spotify.com/user/outlaw_roadshow_radio/playlist/2NwMepIzdBYm5lBLRgUNjx', '_system', 'location=yes')"><i class="icon ion-headphone"></i>Spotify playlist from Austin 2015</a>
		<a href="#" class="item item-icon-left" onclick="window.open('http://www.theoutlawroadshow.com', '_system', 'location=yes')"><i class="icon ion-home"></i>The Outlaw Roadshow</a>
		<a href="#" class="item item-icon-left" onclick="window.open('http://wemfradio.com/category/shows/outlawroadshow/', '_system', 'location=yes')"><i class="icon ion-ipod"></i>Podcasts from <br>The Outlaw Roadshow Radio</a>
</div>
</ion-content>
</ion-view> 


