<ion-view>
<ion-content>
    <div class="list">
    <div class="item item-divider">FRIDAY - Red Eyed Fly: Outdoor Patio Stage</div>
  <ion-item class="item-thumbnail-left" ng-repeat="artist in artists | filter: {dayId:1, stageId:1}" type="item-text-wrap" href="#/app/artists/{{artist.id}}">
      <img ng-src="{{artist.thumb}}"> 
      {{artist.name}}
      <span class="item-note">{{artist.day}}<br>
      {{artist.time}}<br>
      <span style="color: #BA1013">{{artist.stage}}</span></span>
      </ion-item>

   
    <div class="item item-divider">FRIDAY - Red Eyed Fly: Indoor Lounge Stage</div>
  <ion-item class="item-thumbnail-left" ng-repeat="artist in artists | filter: {dayId:1, stageId:2}" type="item-text-wrap" href="#/app/artists/{{artist.id}}">
       <img ng-src="{{artist.thumb}}"> 
      {{artist.name}}
      <span class="item-note">{{artist.day}}<br>
      {{artist.time}}<br>
      <span style="color: #BA1013">{{artist.stage}}</span></span>
      </ion-item>


    <div class="item item-divider">FRIDAY - Elysium</div>
  <ion-item class="item-thumbnail-left" ng-repeat="artist in artists | filter: {dayId:1, stageId:3}" type="item-text-wrap" href="#/app/artists/{{artist.id}}">
       <img ng-src="{{artist.thumb}}"> 
      {{artist.name}}
      <span class="item-note">{{artist.day}}<br>
      {{artist.time}}<br>
      <span style="color: #BA1013">{{artist.stage}}</span></span>
      </ion-item>

 
    <div class="item item-divider">SATURDAY - Red Eyed Fly: Outdoor Patio Stage</div>
  <ion-item class="item-thumbnail-left" ng-repeat="artist in artists  | filter: {dayId:2, stageId:1}" type="item-text-wrap" href="#/app/artists/{{artist.id}}">
       <img ng-src="{{artist.thumb}}"> 
      {{artist.name}}
      <span class="item-note">{{artist.day}}<br>
      {{artist.time}}<br>
      <span style="color: #BA1013">{{artist.stage}}</span></span>
      </ion-item>


    <div class="item item-divider">SATURDAY - Red Eyed Fly: Indoor Lounge Stage</div>
  <ion-item class="item-thumbnail-left" ng-repeat="artist in artists | filter: {dayId:2, stageId:2}" type="item-text-wrap" href="#/app/artists/{{artist.id}}">
       <img ng-src="{{artist.thumb}}"> 
      {{artist.name}}
      <span class="item-note">{{artist.day}}<br>
      {{artist.time}}<br>
      <span style="color: #BA1013">{{artist.stage}}</span></span>
      </ion-item>


    <div class="item item-divider">SATURDAY - Elysium</div>
  <ion-item class="item-thumbnail-left" ng-repeat="artist in artists | filter: {dayId:2, stageId:3}" type="item-text-wrap" href="#/app/artists/{{artist.id}}">
       <img ng-src="{{artist.thumb}}"> 
      {{artist.name}}
      <span class="item-note">{{artist.day}}<br>
      {{artist.time}}<br>
      <span style="color: #BA1013">{{artist.stage}}</span></span>
      </ion-item>


</div>
  </ion-content>
  </ion-view>